<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iostestingapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7EABFA75413CD583BF7BBF036466C0595EA8C1C6</string>
				<key>dateExpires</key>
				<string>10/31/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EABFA75413CD583BF7BBF036466C0595EA8C1C6</string>
						<key>dateExpires</key>
						<string>10/31/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4XB3RF8M6</string>
						<key>name</key>
						<string>Ricky Barnett</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7EABFA75413CD583BF7BBF036466C0595EA8C1C6</string>
						<key>dateExpires</key>
						<string>10/31/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4XB3RF8M6</string>
						<key>name</key>
						<string>Ricky Barnett</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D4XB3RF8M6.com.roundsquaresstudios.iostestingapp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>D4XB3RF8M6</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>D4XB3RF8M6.com.roundsquaresstudios.iostestingapp</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e07e7d8b-7f3f-4c75-b8bb-87892fcf672f</string>
				<key>name</key>
				<string>iOS Testing</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D4XB3RF8M6</string>
				<key>name</key>
				<string>Ricky Barnett</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
