<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535288558100-f6i42dh6df4grb8659jc01ar40ecp8gi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535288558100-f6i42dh6df4grb8659jc01ar40ecp8gi</string>
	<key>API_KEY</key>
	<string>AIzaSyBE9BdqmhrPtQMy8CWwuiGPz6Kk7zYGSX0</string>
	<key>GCM_SENDER_ID</key>
	<string>535288558100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roundsquaresstudios.iostestingapp</string>
	<key>PROJECT_ID</key>
	<string>ios-test-1d36b</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-test-1d36b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535288558100:ios:4edf7b704dbbd72378ad01</string>
	<key>DATABASE_URL</key>
	<string>https://ios-test-1d36b.firebaseio.com</string>
</dict>
</plist>